



.navbar {
    background-color: rgb(52, 186, 190);
    display: flexbox;
    justify-content:center;
    position: sticky;
    top:0;
    border-radius: 10px;
    
    
    

}

.nav-container{
    align-items: center;
    display: flex;
    justify-content: center;
      
}

.nav-logo{
    display: flex;
    margin-left: 1rem;
    color:yellow;
    flex-grow: 1;
    font-size: 2rem;
    text-decoration: none;

}

.nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-links{
    color:white;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 40px;

}